/* BerichtStyle.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header img {
    width: 30px;
    height: 30px;
}

h2 {
    margin: 0;
    font-size: 24px;
}

label {
    display: block;
    margin: 0 0 5px 0;
    padding: 0;
}

select, input[type="text"], input[type="week"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

button, .button-container button {
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.cancel, button {
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel {
    background-color: red;
}

.button-container button {
    flex: 1; 
}
